.title {
	flex: 1;
	grid-row: inherit;
}

/* ****Top nav bar and foooter styled on global styles to organize better**** */

.home {
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 0 10%;
	background: url('/pics/igorbg.png') no-repeat; /*putting the pic as background*/
	background-position: 100%; /* 100% makes the pic go to the left */
}


.main_content {
	max-width: 600px; 
}

.main_content h1 {
	font-size: 56px;
	font-weight: 700;
	margin: 0;
	color:#ffffff;
}

.main_content h3 {
	font-size: 32px;
	font-weight: 700;
	color: #74a6a9;
	margin: 0; /*takes out the space between the next and previous content*/
}

.main_content h4{
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 0; /*takes out the space between the next and previous content*/
}



.main_content p {
	font-size: 16px;
	color:#ffffff;
}

.main_content a{
	color:white;
	font-weight: 700;
}

.sebratec {
	height: 100px;
}


