.title {
	flex: 1;
	grid-row: inherit;
}

.topnav {
	background-color: #74a6a9;
	display: flex;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.topnav a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #fff;
}

.topnav a:hover {
	color: #000000;
}

.topnav a.active {
	text-decoration: overline;
}

.wrapper {
	display: flex;
	flex-flow: row;
	justify-content: space-between flex-start;
}

.sidebar {
	display: flex;
	width: 300px;
	background-color: #598486;
	height: auto;
	float: left;
	justify-content: center;
	color: white;
}

.infoWrapper {
	display: flex;
	flex-flow: row;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.info{
	margin: 100px;
}

.text {
	width: 400px;
}

.sebratec {
	height: 100px;
	box-shadow: 6px 6px 6px -1px #a3a3a3;
}

.profilepic {
	display: flex;
	border-radius: 100%;
	height: 150px;
	margin-top: 80px;
	align-self: center;
}

.mailText a {
	text-decoration: none;
	color: #fff;
}

.logos {
	height: 15px;
}

body,
html {
	margin: 0px;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}
