.home {
	height: 100vh; 
	display: flex;
	justify-content: center; /* setting the cards to the center of the screen */
	align-items: center;
	padding: 0 10%;
}

.main_content {
	flex: 2;
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

.card {
	border: 1px solid #fbfbfb;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fbfbfb;
}

.card img {
	max-width: 100%;
	display: block;
	height: 300px; /* setting the images to be same size */
}

.card p {
	padding: 10px;
}

.card h2 {
	text-align: center;
}

.button {
	-webkit-appearance: button; /* makes the link looks like a button*/
	-moz-appearance: button;
	appearance: button; /* this is define for compatibility */

	text-decoration: none;
	color: initial;
	background-color: #2980b9;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #3498db;
}
