.header{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 10%;
	background-color: #74a6a9;
	left: 0;
}

.topnav a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
}

.topnav a:hover {
	color: #000000;
}

.topnav a.active {
	text-decoration: overline;
}

